<h3>{{name}}</h3>
<h4>by @{{owner}}</h4>

<div class="metadata">
  <div class="metadata-language">{{language}}</div>
  <div class="metadata-followers">{{followers}} Followers</div>
  <div class="metadata-url"><a href="{{url}}">{{url}}</a></div>
  <div class="metadata-description">{{description}}</div>
</div>
